<html>
    <%- include('./partials/head.ejs')  %>
    <body>
    <%- include('./partials/nav.ejs')  %>
    
    <div class="userHeader">
        <h3>User Table</h3>   
        <p>Add, edit, and delete users at will!</p> 
    </div>
    <div class="userContainer">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <% allUsers.forEach(userList => { %>       
            <tr>
                <td> <a href="#"><%=userList.name %></a> </td>
                <td> <%=userList.gender %> </td>
                <td><button class="btn btn-primary"><a href="#">Edit</a></button></td> 
                <td><button class="btn btn-primary"><a href="#">Delete</a></button></td> 
            </tr>
                <% }); %>
        </table>

    </div>

    <%- include('./partials/footer.ejs')  %>
  
    </body>
</html>